<h1>Student Profile</h1>
<p>ID: <%= current_user.id %></p>
<p>Name: <%= current_user.name %></p>
<p>FatherName: <%= current_user.f_name %></p>
<p>Email: <%= current_user.email %></h1>
<p>PhoneNumber: <%= current_user.phone_number %></p>
<p>Date of Birth: <%= current_user.dob %></p>
<p>Batch Number: <%= current_user.batch_id %></p>
<p>Semester Number: <%= current_user.semesters.last.semester_number %></p>

<%= link_to "Back", users_path %>

  