
<h1>Teacher Profile</h1>
<p>ID: <%= current_teacher.id %></p>
<p>Name: <%= current_teacher.name %></p>
<p>FatherName: <%= current_teacher.f_name %></p>
<p>Email: <%= current_teacher.email %></h1>
<p>PhoneNumber: <%= current_teacher.phone_number %></p>
<p>Date of Birth: <%= current_teacher.dob %></p>
<p>Address: <%= current_teacher.address %></p>

<%= link_to "Back", teacher_path %>